<!DOCTYPE html>
<html>
<body>
<div class="col-xs-2">
First name:			<input class="form-control" type="text" name="FirstName" ng-model = "adder.contact.FirstName"></input><br>
Last name:			<input class="form-control" type="text" name="LastName" ng-model = "adder.contact.LastName"></input><br>
Email:				<input class="form-control" type="text" name="Email" ng-model = "adder.contact.Email"></input><br>
Phone: 				<input class="form-control" type="text" name="Phone" ng-model = "adder.contact.Phone"></input><br>
<button class ="btn btn-warning ng-click="adder.addContacts()">SUBMIT</button><br />

</body>
</html>